@page "/patients"
@using EnterpriseHealthcareDotNet.Models
@using EnterpriseHealthcareDotNet.Services
@using MongoDB.Bson
@inject MongoDBService MongoDbService
@inject NavigationManager NavigationManager

@if (patients == null)
{
    <p>Loading...</p>
}
else if (!patients.Any())
{
    <p>No patients found.</p>
}
else
{
    <table class="table table-hover table-responsive-sm">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var patient in patients)
        {
            <tr>
                <td>@patient.PatientName</td>
                <td>@patient.DateOfBirth</td>
                <td>
                    <button class="btn btn-info btn-sm" @onclick="() => NavigateToPatientDetails(patient.Id)">Edit</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Patient>? patients;

    protected override async Task OnInitializedAsync()
    {
       
    }

    private void NavigateToPatientDetails(ObjectId patientId)
    {
        NavigationManager.NavigateTo($"/patient/{patientId.ToString()}");
    }
}