bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Licensed MongoDB brand fonts - drop locally, never commit
EnterpriseHealthcareDotNet/wwwroot/fonts/*
!EnterpriseHealthcareDotNet/wwwroot/fonts/README.md
